table {
    width: 40%;
    border: solid 1pt grey;
    border-collapse: collapse;
    text-align: center;
}
form{
    width: 40%;
    border: solid 1pt grey;
    border-collapse: collapse;
    text-align: center;
}
table, td{
    width: 40%;
    border: solid 1pt grey;
    border-collapse: collapse;
    text-align: center;
}
form table {
    width: 40%;
}
input[type=submit]{
    background-color: red;
    padding: 2%;
    width: 40%;
    border-radius: 10px;
}